h1{
    background-image: url(resources/images/pattern.jpeg);
    text-align: center;
    font-size: 100px;
    font-weight: bold;
    font-family: Helvetica;
    color: khaki;
}

h2 {
    font-family: Helvetica;
}

h3 {
    font-family: Helvetica;
    font-size: 32px;
    font-weight: bold;
    color: white;
}

em {
    font-family: Helvetica;
    font-weight: bold;
    color: blue;
}

#brushes {
    display: block;
    background-color: mediumspringgreen;
}

#frames {
    display: block;
    background-color: lightcoral;
}

#paint {
    display: block;
    background-color: skyblue;
}
